fastapi>=0.135.1
uvicorn[standard]>=0.42.0
python-multipart>=0.0.22
supabase>=2.28.3
openai>=2.29.0
pymupdf>=1.27.2.2
python-docx>=1.2.0
python-pptx>=1.0.2
openpyxl>=3.1.5
beautifulsoup4>=4.14.3
lxml>=6.0.2
ebooklib>=0.20
spacy>=3.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
httpx>=0.28.1
pandas>=3.0.1
numpy>=2.4.3
cryptography>=46.0.5
python-dotenv>=1.2.2
pydantic-settings>=2.13.1
anyio>=4.12.1
